@import url('https://use.typekit.net/tnx3nwx.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "din-condensed", sans-serif;
  letter-spacing: 0.05em;
}

body {
  background: #f5f5f5;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

